# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
coverage

# production
build
cdk.out

# misc
__pycache__
.DS_Store
src/frontend/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
*.sublime*
src/backend/requirements.txt
.eslintcache