@use "_vars";

.modal {
  @include vars.card;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(calc(100vw - 50%), -50%);
  transition: transform vars.$standard-transition-duration ease-in,
    opacity 0s vars.$standard-transition-duration;

  &.visible {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform vars.$standard-transition-duration ease-out, opacity 0s 0s;
  }

  .modal-btns {
    display: flex;
    justify-content: flex-end;

    .modal-btn {
      font-size: 18px;
      padding: 5px;
    }
  }
}
