@use "_vars";

#recipe-list {
  @include vars.default-list;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  .recipe-img {
    border: none;
    filter: blur(3px);
    height: 80px;
    object-fit: cover;
    transition: filter vars.$standard-transition-duration * 2;
    width: 120px;

    &[src] {
      filter: none;
    }
  }

  .recipe {
    margin: 0 20px;
    transition: color 100ms;
    width: 100%;

    &:not(.loading) {
      align-items: center;
      display: flex;
      column-gap: 10px;
      justify-content: space-between;
    }
  }

  .recipe-text {
    text-align: start;
    word-break: break-word;
  }

  .recipe-wrapper {
    cursor: pointer;
    display: flex;
    margin: -1px 0;
    min-height: 120px;
    transition: background-color 500ms;

    &:not(:first-child) .recipe {
      border-top: 1px solid vars.$od-comment-grey;
      transition: border-color 100ms;
    }

    &.selected-recipe {
      background-color: vars.$sidebar-item-active-background-color;
      z .recipe {
        border-color: transparent;
        color: lighten(vars.$text-color, 30%);
      }

      + .recipe-wrapper .recipe {
        border-color: transparent;
      }
    }

    @include vars.on-hover {
      &:not(.selected-recipe) {
        background-color: rgba(vars.$sidebar-item-active-background-color, 0.5);

        .recipe {
          color: lighten(vars.$text-color, 15%);
        }
      }
    }
  }
}
