@use "_vars";

#add-modal {
  @include vars.card;
  bottom: 5rem;
  color: vars.$od-black;
  display: flex;
  flex-direction: column;
  left: 50%;
  min-height: 50vh;
  position: absolute;
  top: 5rem;
  transform: translate(calc(100vw - 50%));
  transition: transform ease-in;
  width: clamp(20em, 30vw, 65ch);

  &.visible {
    transform: translate(-50%);
    transition: transform ease-out;
  }

  #add-modal-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.75em;
    overflow-y: auto;
  }

  #add-modal-btns {
    display: flex;
    margin-top: auto;
    padding-top: 1em;
    align-self: flex-end;

    #add-modal-submit.error {
      @include vars.btn-primary-nohover;
      opacity: 0.5;
      pointer-events: none;

      @include vars.on-hover {
        cursor: default;
      }
    }
  }

  button {
    padding: 5px;
    font-size: 1.125em;
    width: max-content;
  }

  ul,
  ol {
    margin: 0;
    padding: 0.5em 1em 0.5em 3ch;
  }
}
