@use "_vars";

#delete-form {
  @include vars.card;
  left: 50%;
  position: absolute;
  top: 50%;
  opacity: 0;
  transform: translate(-50%, calc(-100vh - 50%));
  transition: transform vars.$standard-transition-duration ease-in,
    opacity 0s vars.$standard-transition-duration;
  width: 300px;

  &.visible {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: transform vars.$standard-transition-duration ease-out, opacity 0s 0s;
  }

  #buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 40px 10px 10px auto;
  }

  #delete-form-cancel {
    background-color: vars.$btn-secondary-color;
    color: vars.$btn-primary-color;
  }

  .primary-btn {
    font-size: 1.125em;
    padding: 5px;
  }
}
