@use "_vars";

#details-card {
  @include vars.card;
  margin: 10px;
  height: calc(100vh - 20px);

  #header {
    display: flex;
    height: 5em;
    justify-content: flex-end;
  }

  #details {
    display: grid;
    grid-gap: 2em;
    grid-template-areas:
      "tl tr"
      "bl br";
    grid-template-columns: 300px auto;
    grid-template-rows: 200px auto;
    overflow-y: auto;
    padding-left: 10em;
    max-height: calc(100% - 5em);

    #info {
      font-weight: 400;
      grid-area: tr;
      max-width: 65ch;
      overflow-y: auto;

      a {
        $color: vars.$od-blue;
        color: $color;
        font-weight: 700;
        text-decoration: none;
        transition: color vars.$standard-transition-duration / 2;

        @include vars.on-hover {
          color: lighten($color, 10%);
        }
      }

      #recipe-name {
        font-size: revert;
        margin: 0;
      }

      .info-field {
        font-weight: 500;
      }
    }

    %lists {
      font-size: 1.125em;
      font-weight: 400;
      margin: 0 0 0 2ch;
      padding: 0;
    }

    #ingredient-list {
      @extend %lists;
      grid-area: bl;
      line-height: 2em;
    }

    #instruction-list {
      @extend %lists;
      grid-area: br;
      line-height: 1.5em;
      max-width: 60ch;

      .instruction + .instruction {
        margin-top: 20px;
      }
    }

    .ingredient .ingredient-span {
      cursor: pointer;
      visibility: hidden;

      @include vars.on-hover {
        visibility: visible;
      }
    }

    .recipe-img {
      grid-area: tl;
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
