@use "_vars";

#import-form {
  @include vars.card;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(calc(75vw - 50%), -50%);
  transition: transform ease-in;

  &.visible {
    transform: translate(-50%, -50%);
    transition: transform ease-out;
  }

  #import-form-btns {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 40px 10px 10px auto;
  }

  #import-form-cancel {
    background-color: vars.$btn-secondary-color;
    color: vars.$btn-primary-color;
  }

  .primary-btn {
    font-size: 1.125em;
    padding: 5px;
  }

  textarea {
    font-size: 14px;
    color: vars.$od-black;
    font-family: monospace;
    border-radius: 4px;
    border: 4px solid vars.$od-comment-grey;
    margin: 15px 0;
    outline: none;
    resize: none;
    transition: vars.$standard-transition-duration;

    &:focus {
      border-color: vars.$od-blue;
    }

    &:not(:focus).error {
      border-color: vars.$od-red;
    }

    &:not(:focus).valid {
      border-color: vars.$od-green;
    }
  }
}
