@use "_vars";

:root {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition-duration: vars.$standard-transition-duration;
  transition-property: color, background-color;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  transition-duration: vars.$standard-transition-duration;
  transition-property: color, background-color;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

// https://stackoverflow.com/questions/70368760/react-uncaught-referenceerror-process-is-not-defined
iframe {
  pointer-events: none;
}