@use "vars";

#add-form-card {
  color: vars.$od-black;
  height: 95vh;
  left: 50%;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translate(calc(100vw - 50%), -50%);
  transition: transform, opacity;
  transition-duration: vars.$standard-transition-duration;
  transition-timing-function: ease-in;
  width: 45vw;

  &.visible {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition-timing-function: ease-out;
  }

  #add-form {
    height: 100%;
    width: 100%;

    .form-btn {
      padding: 5px;
      font-size: 18px;
    }
  }

  #add-form-cancel {
    background-color: vars.$btn-secondary-color;
    color: vars.$btn-primary-color;
    margin-right: 10px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: vars.$btn-primary-color;
        color: vars.$btn-secondary-color;
      }
    }
  }

  #add-form-submit.error {
    @include vars.btn-primary-nohover;
    opacity: 0.5;
    pointer-events: none;

    &:hover {
      cursor: default;
    }
  }

  input[type="text"] {
    border: 2px solid vars.$od-blue;
    margin-bottom: 5px;
    outline: none;
    transition: 150ms;

    &.error {
      border-color: vars.$od-red;
    }
  }
}
