@use "vars";

#add-form-card {
  @include vars.card;
  color: vars.$od-black;
  height: 95vh;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(calc(75vw - 50%), -50%);
  transition: transform vars.$standard-transition-duration ease-in;
  width: 45vw;

  &.visible {
    transform: translate(-50%, -50%);
    transition-timing-function: ease-out;
  }

  #add-form {
    height: 100%;
    width: 100%;

    .form-btn {
      padding: 5px;
      font-size: 18px;
    }
  }

  #add-form-cancel {
    background-color: vars.$btn-secondary-color;
    color: vars.$btn-primary-color;
    margin-right: 10px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: vars.$btn-primary-color;
        color: vars.$btn-secondary-color;
      }
    }
  }

  #add-form-submit.error {
    @include vars.btn-primary-nohover;
    opacity: 0.5;
    pointer-events: none;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        cursor: default;
      }
    }
  }

  ul,
  ol {
    background-color: white;
    border-radius: 4px;
    border: 2px solid vars.$od-comment-grey;
    padding: 0 1em 0 1.5em;
    transition: vars.$standard-transition-duration / 2;
    width: 15em;

    &:focus-within {
      border-color: vars.$od-blue;
    }

    &.error {
      border-color: vars.$od-red;
    }

    li {
      &:first-child input {
        padding-top: 0.5em;
      }

      &:last-child input {
        padding-bottom: 0.5em;
      }
    }

    input[type="text"] {
      outline: none;
      background-color: unset;
      width: 100%;
      border: none;
    }
  }
}
