#add-form-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    font-size: 40px;
    height: 95vh;
    left: 50%;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translate(calc(100vw - 50%), -50%);
    transition: transform var(--standard-transition-duration);
    width: 95vw;
}

#add-form-card.visible {
    transform: translate(-50%, -50%);
}

#add-form {
    height: 100%;
    width: 100%;
}

#add-form-cancel {
    background-color: white;
    color: var(--dark-purple);
}

@media(hover: hover) and (pointer: fine) {
    #add-form-cancel:hover {
        background-color: var(--dark-purple);
        color: white;
    }
}

#add-form .form-btn {
    padding: 5px;
    width: min-content;
    font-size: 18px;
}
