#App {
    display: flex;
}

#left {
    border-right: 1px solid #e1e0e0;
    height: 100vh;
    max-width: 15vw;
    min-width: 320px;
    overflow-y: auto;
}

#right {
    height: 100vh;
    width: 100%;
}

#add-button {
    cursor: pointer;
    float: right;
}

#header {
    align-items: center;
    border-bottom: 1px solid #e1e0e0;
    display: flex;
    justify-content: center;
    height: 6vh;
}

#recipe-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.recipe:not(.loading) {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.recipe-img {
    height: 80px;
    object-fit: cover;
    width: 120px;
}

.recipe-text {
    text-align: start;
    width: 50%;
    word-break: break-word;
}

.recipe-wrapper {
    cursor: pointer;
    transition: background-color 0.1s;
    width: 100%;
}

.recipe-wrapper:hover {
    background-color: rgba(240, 248, 255, 0.5);
}

.recipe-wrapper.selected-recipe {
    background-color: aliceblue;
}

.recipe-wrapper:not(:last-child)::after {
    border-bottom: 1px solid #e0e0e0;
    content: "";
    display: block;
    margin: 0 20px;
}

.recipe-wrapper .recipe {
    margin: 20px;
}

body {
    overflow: hidden;  /* Disable scrolling */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
