@use "vars";

#main-content {
  background-color: vars.$background-color;
  display: flex;
  float: right;
  position: relative;
  transition: vars.$standard-transition-duration;
  width: 100%;

  &.shifted-right {
    width: calc(100vw - #{vars.$sidebar-width});
  }

  &.disabled {
    filter: brightness(0.7);
    pointer-events: none;
  }

  #left {
    border-right: 1px solid vars.$od-comment-grey;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: vars.$left-max-length;
    min-width: vars.$left-min-length;
  }

  #right {
    display: flex;
    flex-grow: 1;
    max-width: calc(100vw - #{vars.$left-max-length});
  }
}
