@use "vars";

#delete-form {
  @include vars.card;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, calc(-100vh - 50%));
  transition: transform vars.$standard-transition-duration ease-in;
  width: 300px;

  &.visible {
    transform: translate(-50%, -50%);
    transition-timing-function: ease-out;
  }

  #buttons {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 40px 10px 10px auto;
  }

  #delete-form-cancel {
    background-color: vars.$btn-secondary-color;
    color: vars.$btn-primary-color;
    margin-right: 10px;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        background-color: vars.$btn-primary-color;
        color: vars.$btn-secondary-color;
      }
    }
  }

  .primary-btn {
    font-size: 18px;
    padding: 5px;
    width: min-content;
  }
}
