@use "vars";

#details {
  flex-grow: inherit;
  margin: 10px;
  position: relative;

  #detail-btns {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: repeat(2, 40px);
    margin-right: inherit;
    margin-top: inherit;
    position: absolute;
    right: 0;
    top: 0;

    .primary-btn {
      height: vars.$standard-btn-length;
      width: vars.$standard-btn-length;
    }
  }

  #ingredient-list,
  #instruction-list {
    @include vars.default-list;
    padding-left: 5px;
    padding-top: 20px;
  }

  #instruction-list {
    list-style-type: revert;
  }

  #recipe-name {
    word-break: break-word;
  }

  .ingredient {
    &:hover .ingredient-span {
      visibility: visible;
    }

    .ingredient-span {
      cursor: pointer;
      visibility: hidden;
    }
  }

  .recipe-img {
    height: 80px;
    object-fit: cover;
    width: 120px;
  }
}
