#header {
    border-bottom: 1px solid #e1e0e0;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 40px 40px;
    justify-content: flex-end;
    padding: 10px;
    transition: var(--standard-transition-duration);
}

#header.filter-focused {
    /* Curse you CSS for not animating fr values */
    /* 100px = 40px + 40px + 10px + 10px (other icon widths and paddings) */
    grid-template-columns: 1fr calc(100% - 100px) 40px;
}

#header #filter-wrapper #filter {
    background-color: inherit;
    border: none;
    border-radius: inherit;
    box-sizing: inherit;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-left: 35px;
    transition: var(--standard-transition-duration);
    width: 100%;
}

#filter-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: auto;
}

#filter-wrapper::before {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1.5em;
    left: 18px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--standard-transition-duration);
}

#filter-wrapper.filter-focused::before {
    color: var(--dark-purple);
}

#filter-wrapper:not(.filter-focused) #filter {
    pointer-events: none;
}

#header #add-btn, #header #sidebar-btn {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    position: relative;
}

@media(hover: hover) and (pointer: fine) { /* Desktop */
    #header #filter-wrapper:hover,
    #header #filter-wrapper.filter-focused,
    .purple-btn:hover {
        background-color: white;
        box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);
        color: var(--dark-purple);
    }

    #filter-wrapper:hover::before {
        color: var(--dark-purple);
    }
}


#header #add-btn:active,
#header #filter-wrapper:active,
#header #sidebar-btn:active,
#header #filter-wrapper.filter-focused {
    background-color: white;
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);
    color: var(--dark-purple);
}

#header #filter-wrapper.filter-focused {
    cursor: initial;
}

#header #sidebar-btn {
    justify-self: flex-start;
}

.header-btn {
    height: 40px;
    width: 40px;
}
