@use "vars";

#header {
  border-bottom: 1px solid vars.$od-comment-grey;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  transition: vars.$standard-transition-duration;
  align-items: center;

  &.filter-focused {
    #category-label {
      opacity: 0;
    }
  }

  #category-label {
    color: vars.$od-blue;
    font-size: 1.2em;
    left: 80px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    transition: vars.$standard-transition-duration;
    width: vars.$standard-btn-length * 2 + 50px;
  }

  #filter-wrapper #filter {
    background-color: inherit;
    border-radius: inherit;
    border: none;
    color: vars.$od-black;
    cursor: inherit;
    font-size: 15px;
    height: 100%;
    outline: none;
    padding-left: 35px;
    transition: vars.$standard-transition-duration;
    width: 100%;
  }

  #filter-wrapper {
    display: flex;
    margin: 0 10px;
    position: relative;
  }

  #filter-wrapper::before {
    content: "\f002";
    font-family: FontAwesome;
    left: 18px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: vars.$standard-transition-duration;
  }

  #filter-wrapper.filter-focused {
    &::before {
      color: vars.$btn-primary-color;
    }

    #filter:focus,
    #filter:not([value=""]) {
      background-color: vars.$btn-secondary-color;
    }
  }

  #filter-wrapper:not(.filter-focused) #filter {
    pointer-events: none;
  }

  #filter-wrapper.filter-focused {
    cursor: initial;
    width: 199px;
  }

  .header-btn {
    height: vars.$standard-btn-length;
    width: vars.$standard-btn-length;
  }
}
