#header {
    border-bottom: 1px solid #e1e0e0;
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: 1fr 40px 40px;
    justify-content: flex-end;
    padding: 10px;
    transition: var(--header-transition-duration);
}

#header.filter-focused {
    /* Curse you CSS for not animating fr values */
    /* 100px = 40px + 40px + 10px + 10px (other icon widths and paddings) */
    grid-template-columns: 1fr calc(100% - 100px) 40px;
}

#header #filter-wrapper #filter {
    background-color: inherit;
    border: none;
    border-radius: inherit;
    box-sizing: inherit;
    cursor: inherit;
    font-family: inherit;
    font-size: inherit;
    height: 100%;
    outline: none;
    padding-left: 35px;
    transition: var(--header-transition-duration);
    width: 100%;
}

#filter-wrapper {
    display: flex;
    justify-content: flex-end;
    position: relative;
    width: auto;
}

#filter-wrapper::after {
    content: "\f002";
    font-family: FontAwesome;
    font-size: 1.5em;
    left: 18px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: var(--header-transition-duration);
}

#filter-wrapper:hover::after {
    color: var(--dark-purple);
}

#filter-wrapper.filter-focused::after {
    color: var(--dark-purple);
}

#header #add-button, #header #sidebar-button {
    align-items: center;
    display: flex;
    font-size: 1.5em;
    justify-content: center;
    position: relative;
}

@media(hover: hover) and (pointer: fine) { /* Mobile */
    #header #add-button:hover,
    #header #filter-wrapper:hover,
    #header #filter-wrapper.filter-focused,
    #header #sidebar-button:hover {
        background-color: white;
        box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);
        color: var(--dark-purple);
    }
}


#header #add-button:active,
#header #filter-wrapper:active,
#header #sidebar-button:active,
#header #filter-wrapper.filter-focused {
    background-color: white;
    box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);
    color: var(--dark-purple);
}

#header #filter-wrapper.filter-focused {
    cursor: initial;
}

#header #sidebar-button {
    justify-self: flex-start;
}

.header-button {
    background-color: var(--dark-purple);
    border: 2px solid var(--dark-purple);
    border-radius: 4px;
    box-shadow: -2px 2px 4px 0 rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    height: 40px;
    user-select: none;
    width: 40px;
    transition: var(--header-transition-duration);
}
