$btn-primary-color: #9696ff;
$btn-secondary-color: #ffffff;
$left-max-length: 15vw;
$left-min-length: 320px;
$standard-transition-duration: 300ms;
$standard-btn-length: 40px;
$sidebar-item-active-background-color: #2d3641;
$sidebar-width: 250px;
$standard-box-shadow: -4px 4px 4px 0 rgba(0, 0, 0, 0.4);

@mixin btn-primary-hover {
    background-color: $btn-secondary-color;
    box-shadow: $standard-box-shadow;
    color: $btn-primary-color;
}
