#App {
    display: flex;
}

#left {
    border-right: 1px solid #e1e0e0;
    height: 100vh;
    width: 15vw;
}

#right {
    height: 100vh;
    width: 85vw;
}

#add-button {
    float: right;
}

#header {
    border-bottom: 1px solid #e1e0e0;
    height: 8vh;
}

.recipe {
    cursor: pointer;
}

.recipe-img {
    height: 15vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
