body {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

:root {
    --dark-purple: #9696ff;
    --standard-transition-duration: 300ms;
    --standard-btn-length: 40px;
    --sidebar-item-active-background-color: #2d3641;
    --sidebar-width: 250px;
}
