body {
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

:root {
    --dark-purple: #9696ff;
    --header-transition-duration: 300ms;
    --sidebar-item-active-background-color: #2d3641;
}
